<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589350790558-kn029q8ecqdq68oaoh8sdjoh9a7t77si.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589350790558-kn029q8ecqdq68oaoh8sdjoh9a7t77si</string>
	<key>API_KEY</key>
	<string>AIzaSyCwQnmbxNys3Ly6pXJPMjs0AQR6b3YA-6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>589350790558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khunmostz.focuscraftz</string>
	<key>PROJECT_ID</key>
	<string>focus-craftz-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>focus-craftz-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589350790558:ios:eab089832a955bf6e9228f</string>
</dict>
</plist>
